body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffeaa7;
  min-height: 70vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(198, 1%, 29%);
  font-family: "Architects Daughter", cursive;
  text-align: center;
  font-size: 130%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.heading h1 {
  padding: 0.2rem 1.2rem;
  border-radius: 20% 5% 200% 100%/100% 200% 205%;
  background-color: #fdcb6e;
}
.planet-card {
  margin-top: 60px;
  justify-content: center;
  align-items: center;
}
.down {
  margin-top: 40px;
  margin-bottom: 40px;
}
li {
  list-style-type: none;
}
.center {
  margin-top: 50px;
}

